body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #000000;
    color: white;
    padding: .225px;
    text-align: center;
}

.content {
    padding: 20px;
}

.project {
    background-color: #0059b3;
    color: white;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
